* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    flex-direction: column;
    
}

#container {
    width: 750px;
    height: 750px;
    border: 2px solid;
    display: flex;
    flex-wrap: wrap;
}

#buttons {
    display: flex;
    width: 750px;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

button {
    display: block;
}